<!--<!DOCTYPE html>

{% load staticfiles %} 

<html>-->

    <!--<head>-->
        <!--<title>Rango</title>-->
        <!--<link rel="stylesheet" href="{% static 'css/base.css' %}" /> --> <!-- CSS -->
        <!--<script src="{% static 'js/jquery.js' %}"></script> --> <!-- Javascript -->
    <!--</head>-->

    <!--<body>-->

{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ About page }}{% endblock %}

{% block body_block %}

        <h1>Rango says...</h1>
        This is about Rango! <strong>{{ boldmessage2 }}</strong><br />
        <!--<a href="/rango/">home</a><br />-->
        <!--<h1>Including Static Media</h1>-->
        <img src="{% static 'images/newyork.png' %}" alt="Picture of newyork" /> <!--Images-->
    <!--</body>-->

<!--</html>-->
{% endblock %}
